<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shixi.dao.AppraisalFormMapper">
	<resultMap id="BaseResultMap" type="com.shixi.entity.AppraisalForm">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="content" jdbcType="VARCHAR" property="content" />
		<result column="userid" jdbcType="INTEGER" property="userid" />
		<result column="gmtCreate" jdbcType="VARCHAR" property="gmtCreate" />
		<result column="gmtModify" jdbcType="VARCHAR" property="gmtModify" />
		<result column="dr" jdbcType="BIT" property="dr" />
	</resultMap>
	<sql id="Base_Column_List">
		id, content, userid,gmtCreate,
		gmtModify, dr
	</sql>
	<select id="select" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from appraisalform
		where id = 1
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from appraisalform
		where id = #{id,jdbcType=INTEGER}
	</delete>

	<insert id="insert" parameterType="com.shixi.entity.AppraisalForm">
		insert into appraisalform (id, content, userid,gmtCreate,
		gmtModify, dr
		)
		values (#{id,jdbcType=INTEGER},
		#{content,jdbcType=VARCHAR},
		#{userid,jdbcType=INTEGER},
		#{gmtCreate,jdbcType=VARCHAR}, #{gmtModify,jdbcType=VARCHAR},
		#{dr,jdbcType=BIT}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.shixi.entity.AppraisalForm"  useGeneratedKeys="true"  keyProperty="id">
		insert into appraisalform
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="content != null">
				content,
			</if>
			<if test="userid != null">
				userid,
			</if>

			<if test="gmtCreate != null">
				gmtCreate,
			</if>
			<if test="gmtModify != null">
				gmtModify,
			</if>
			<if test="dr != null">
				dr,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="content != null">
				#{content,jdbcType=VARCHAR},
			</if>
			<if test="userid != null">
				#{userid,jdbcType=INTEGER},
			</if>

			<if test="gmtCreate != null">
				#{gmtCreate,jdbcType=VARCHAR},
			</if>
			<if test="gmtModify != null">
				#{gmtModify,jdbcType=VARCHAR},
			</if>
			<if test="dr != null">
				#{dr,jdbcType=BIT},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.shixi.entity.AppraisalForm">
		update appraisalform
		<set>
			<if test="content != null">
				content = #{content,jdbcType=VARCHAR},
			</if>
			<if test="userid != null">
				userid = #{userid,jdbcType=INTEGER},
			</if>

			<if test="gmtCreate != null">
				gmtCreate = #{gmtCreate,jdbcType=VARCHAR},
			</if>
			<if test="gmtModify != null">
				gmtModify = #{gmtModify,jdbcType=VARCHAR},
			</if>
			<if test="dr != null">
				dr = #{dr,jdbcType=BIT},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.shixi.entity.AppraisalForm">
		update appraisalform
		set
		content = #{content,jdbcType=VARCHAR},
		userid =
		#{userid,jdbcType=INTEGER},
		gmtCreate = #{gmtCreate,jdbcType=VARCHAR},
		gmtModify =
		#{gmtModify,jdbcType=VARCHAR},
		dr = #{dr,jdbcType=BIT}
		where id =
		#{id,jdbcType=INTEGER}
	</update>

</mapper>