<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shixi.dao.UserMapper">
	<resultMap id="BaseResultMap" type="com.shixi.entity.User">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="username" jdbcType="VARCHAR" property="username" />
		<result column="password" jdbcType="VARCHAR" property="password" />
		<result column="realname" jdbcType="VARCHAR" property="realname" />
		<result column="userType" jdbcType="VARCHAR" property="usertype" />
		<result column="sex" jdbcType="CHAR" property="sex" />
		<result column="birthday" jdbcType="VARCHAR" property="birthday" />
		<result column="phoneNumber" jdbcType="INTEGER" property="phoneNumber" />
		<result column="email" jdbcType="VARCHAR" property="email" />
		<result column="gmtCreate" jdbcType="VARCHAR" property="gmtCreate" />
		<result column="gmtModify" jdbcType="VARCHAR" property="gmtModify" />
		<result column="dr" jdbcType="BIT" property="dr" />
	</resultMap>
	<sql id="Base_Column_List">
		id, username, password, realname, userType, sex, birthday,
		phoneNumber,
		email, gmtCreate,
		gmtModify, dr
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from user
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from user
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<!-- 批量删除user -->
	<delete id="deleteByIds" parameterType="java.util.List">
		delete from user
		where id in
		<foreach collection="list" index="index" item="item" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</delete>
	<insert id="insert" parameterType="com.shixi.entity.User">
		insert into user (id,
		username, password,
		realname, userType, sex,
		birthday, phoneNumber,
		email,
		gmtCreate, gmtModify, dr
		)
		values (#{id,jdbcType=INTEGER},
		#{username,jdbcType=VARCHAR},
		#{password,jdbcType=VARCHAR},
		#{realname,jdbcType=VARCHAR}, #{usertype,jdbcType=VARCHAR},
		#{sex,jdbcType=CHAR},
		#{birthday,jdbcType=VARCHAR},
		#{phoneNumber,jdbcType=INTEGER},
		#{email,jdbcType=VARCHAR},
		#{gmtCreate,jdbcType=VARCHAR}, #{gmtModify,jdbcType=VARCHAR},
		#{dr,jdbcType=BIT}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.shixi.entity.User"  useGeneratedKeys="true"  keyProperty="id">
		insert into user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="username != null">
				username,
			</if>
			<if test="password != null">
				password,
			</if>
			<if test="realname != null">
				realname,
			</if>
			<if test="usertype != null">
				userType,
			</if>
			<if test="sex != null">
				sex,
			</if>
			<if test="birthday != null">
				birthday,
			</if>
			<if test="phoneNumber != null">
				phoneNumber,
			</if>
			<if test="email != null">
				email,
			</if>
			<if test="gmtCreate != null">
				gmtCreate,
			</if>
			<if test="gmtModify != null">
				gmtModify,
			</if>
			<if test="dr != null">
				dr,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="username != null">
				#{username,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="realname != null">
				#{realname,jdbcType=VARCHAR},
			</if>
			<if test="usertype != null">
				#{usertype,jdbcType=VARCHAR},
			</if>
			<if test="sex != null">
				#{sex,jdbcType=CHAR},
			</if>
			<if test="birthday != null">
				#{birthday,jdbcType=VARCHAR},
			</if>
			<if test="phoneNumber != null">
				#{phoneNumber,jdbcType=INTEGER},
			</if>
			<if test="email != null">
				#{email,jdbcType=VARCHAR},
			</if>
			<if test="gmtCreate != null">
				#{gmtCreate,jdbcType=VARCHAR},
			</if>
			<if test="gmtModify != null">
				#{gmtModify,jdbcType=VARCHAR},
			</if>
			<if test="dr != null">
				#{dr,jdbcType=BIT},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.shixi.entity.User">
		update user
		<set>
			<if test="username != null">
				username = #{username,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				password = #{password,jdbcType=VARCHAR},
			</if>
			<if test="realname != null">
				realname = #{realname,jdbcType=VARCHAR},
			</if>
			<if test="usertype != null">
				userType = #{usertype,jdbcType=VARCHAR},
			</if>
			<if test="sex != null">
				sex = #{sex,jdbcType=CHAR},
			</if>
			<if test="birthday != null">
				birthday = #{birthday,jdbcType=VARCHAR},
			</if>
			<if test="phoneNumber != null">
				phoneNumber = #{phoneNumber,jdbcType=INTEGER},
			</if>
			<if test="email != null">
				email = #{email,jdbcType=VARCHAR},
			</if>
			<if test="gmtCreate != null">
				gmtCreate = #{gmtCreate,jdbcType=VARCHAR},
			</if>
			<if test="gmtModify != null">
				gmtModify = #{gmtModify,jdbcType=VARCHAR},
			</if>
			<if test="dr != null">
				dr = #{dr,jdbcType=BIT},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.shixi.entity.User">
		update user
		set
		username = #{username,jdbcType=VARCHAR},
		password =
		#{password,jdbcType=VARCHAR},
		realname = #{realname,jdbcType=VARCHAR},
		userType = #{usertype,jdbcType=VARCHAR},
		sex = #{sex,jdbcType=CHAR},
		birthday = #{birthday,jdbcType=VARCHAR},
		phoneNumber =
		#{phoneNumber,jdbcType=INTEGER},
		email = #{email,jdbcType=VARCHAR},
		gmtCreate = #{gmtCreate,jdbcType=VARCHAR},
		gmtModify =
		#{gmtModify,jdbcType=VARCHAR},
		dr = #{dr,jdbcType=BIT}
		where id =
		#{id,jdbcType=INTEGER}
	</update>

	<select id="login" parameterType="com.shixi.entity.User"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from user
		where username=#{username} and password=#{password} limit 1
	</select>

	<select id="checkName" parameterType="java.lang.String"
		resultType="Integer">
		select count(*)
		from user
		where username =
		#{username,jdbcType=VARCHAR}
	</select>

	<select id="findUsers" parameterType="Map" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from user
		<where>
			<if test="username!=null and username!='' ">
				and username like #{username}
			</if>
		</where>
		<if test="start!=null and size!=null">
			limit #{start},#{size}
		</if>
	</select>

	<select id="getTotalUser" parameterType="Map" resultType="Long">
		select count(*) from user
		<where>
			<if test="username!=null and username!='' ">
				and username like #{username}
			</if>
		</where>
	</select>

	<select id="checkPwd" parameterType="com.shixi.entity.User"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from user
		where id=#{id} and password=#{password} limit 1
	</select>
</mapper>